/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *




 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.limited {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

:root {
    --color-blue-1: rgb(19, 134, 106);
    --color-dark: #000;
    --color-light: #fff;
    --color-dark-1: #333;

    --color-pink: rgb(240, 34, 96);
}

html {
    font-size: 62.5%; /* 62.5% === 10px > 1rem */
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
}


/* App Container  */
.app-container{
    width: 100%;
    height: auto;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}


.app-container .sign-up {
    width: 60%;
    margin: 0 auto;
}

.app-container .login{
    width: 60%;
    margin: 0 auto;
}
.form__heading{
    font-size: 3rem;
    color: var(--color-blue-1);
    font-weight: bolder;
}


.form__text{
    font-size: 2rem;
    font-weight: normal;
}


.app_form{
    display: flex;
    flex-direction: column;
}

.app_form > *:not(:last-child) { margin-bottom: 2rem }
.app_form input[type="text"],
.app_form input[type="password"] {
    padding: 1.5rem .5rem;

    border: none;
    border-bottom: 1px solid rgb(206, 201, 201);
    outline: none;
    font-size: 1.6rem;
}

/*a,*/
/*a:link,*/
/*a:visited {*/
/*     color: unset;*/
/*     text-decoration: unset;*/
/*}*/

.btn {
    outline: none;
    border: none;
    font-size: 1.6rem;
}

.btn_create{
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-pink);
    border-radius: 10rem;
    color: #fff;

}

@media (max-width: 768px) {
    .app-container .sign-up {
        width: 90%;
        margin: 0 auto;
    }

    .app-container .login{
        width: 90%;
        margin: 0 auto;
    }
}



.cat_heading-container,
.cat__heading{
    font-size: 3rem;
    color: var(--color-light);
    font-weight: bold;
}
